@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.noise {
  animation: bg-animation 0.2s infinite;
}
.crt {
  background-image: url("/images/crt.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

.box-bg {
  background: radial-gradient(
    circle,
    rgba(31, 31, 31, 0) 0%,
    rgb(77 83 60) 50%,
    rgba(31, 31, 31, 1) 100%
  );
}
:root {
  --pixelbglight: #d4d29b;
  --pixelbgdark: #8e9872;
}
.text-original.medium {
  --shadow: 3px;
}
.text-original.h1,
.text-original.h2 {
  --shadow: 5.6px;
}
.text-original.small {
  --shadow: 1px;
}
.text-original {
  --color: #584422;
  --sn: calc(var(--shadow) * -1);
  --s: var(--shadow);
  --sd: calc(var(--shadow) * 2);
  text-shadow:
    var(--sn) var(--sn) 0 var(--color),
    0 var(--sn) 0 var(--color),
    var(--s) var(--sn) 0 var(--color),
    var(--s) 0 0 var(--color),
    var(--s) var(--s) 0 var(--color),
    0 var(--s) 0 var(--color),
    var(--sn) var(--s) 0 var(--color),
    var(--sn) var(--sd) 0 var(--color),
    var(--s) var(--sd) 0 var(--color),
    0px var(--sd) 0 var(--color),
    var(--sn) 0 0 var(--color);
}
@media (max-width: 768px) {
  .text-original.h1,
  .text-original.h2 {
    --shadow: 3px;
  }
}
.center {
  left: 50%;
  --tw-translate-x: -50%;
  position: absolute;
  top: 50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.pixel-bg {
  background-color: var(--pixelbglight);
  background-image: linear-gradient(
      180deg,
      transparent 50%,
      var(--pixelbgdark) 50%
    ),
    linear-gradient(90deg, transparent 50%, var(--pixelbgdark) 50%);
  background-size:
    0.1em 0.2em,
    0.1em 0.2em;
}

html {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),
    auto;
}

a,
button {
  cursor:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer;
}

.retro-btn {
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="hsla(40, 50%, 27%, 1)" /></svg>');
  border-image-outset: 2;
  position: relative;
  display: inline-block;
  padding: 2px 4px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @apply text-gameboy-900 bg-gameboy-100;
}

.retro-btn::after {
  position: absolute;
  top: -4px;
  right: -6px;
  bottom: -6px;
  left: -4px;
  content: "";
  box-shadow: inset -4px -4px hsla(96, 29%, 40%, 1);
}

.retro-btn:hover {
  color: #212529;
  text-decoration: none;
  @apply bg-gameboy-400;
}

.retro-btn:hover::after {
  box-shadow: inset -6px -6px hsla(96, 29%, 40%, 1);
}

.retro-btn:focus {
  box-shadow: 0 0 0 6px rgba(173, 175, 188, 0.3);
}

.retro-btn:active:not(.is-disabled)::after {
  box-shadow: inset 4px 4px hsla(96, 29%, 40%, 1);
}

.retro-btn:focus {
  outline: 0;
}

.retro-btn {
  border-style: solid;
  border-width: 4px 6px 6px 4px;
}
